body {
  background: -webkit-radial-gradient(red,black);
  background-size: 3684px 1080px;
  background-repeat: no-repeat;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
div {
  display: block;
}
.main-content {
  height: 360px;
}
