body {
  background: -webkit-radial-gradient(red,black);
  background-size: 3684px 1080px;
  background-repeat: no-repeat;
}
form {
  background-color: #CAC6C6;
  margin-left: 770px;
  margin-right:770px;
  margin-top: 100px;
}
#mail {
  text-decoration-color: red;
}
